.no-margin {
    margin: 0 !important;
    width: 100%;
  }

  .custom-form {
    height: 453px;
    width: 525px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Set the height of the container to the full viewport height */
  }
  .form-size {
    width: 525px;
    height: 700px;
    border: 3px solid #FCE5BD;
    box-shadow: 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.error-size {
    width: 525px;
    height: 750px;
    border: 3px solid #FCE5BD;
    box-shadow: 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.password-icon {
    position: relative;
    right: 30px;
    top:15px;
    cursor: pointer;
    outline: none;
}

.loginButton{
    width:"200px"; 
    background-color:"#FFE2AD"; 
    color:"black"; 
    border:"none";
    
}